/* wire frame: TODO: delete later */
main,
footer {
    border: 5px solid black;
}

/* reset */
body {
    margin: 0;
    padding: 0;
}

/* element selectors  */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: #a51811;
    height: 20vh;
    padding: 10px;
}

html {
    background-color: #fff1c0;

}

img {
    width: 100%;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
}

main {
    flex-grow: 1;

}

.mt- {
    margin-top: 0.75rem;
}

.pt {
    padding-top: 1.5rem;
}

.phone {
    width: 2%;
    height: 2%;
    color: #fff1c0;
}

.doublefont {

    font-family: "CCBiffBamBoom", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff1c0;
    position: relative;
    font-size: xx-large;
    margin-left: 2rem;
}

.doublefont:after {
    content: "Kevin O'Connor";
    color: black;
    font-family: "CCBiffBamBoomOutline", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}

.klogo {
    width: 6rem;
    height: 6rem;
}

/* classes */


.Hdrsec {
    display: flex;
    align-items: center;

}