/* reset */
body {
    margin: 0;
    padding: 0;
}

/* element selectors  */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #a51811;
    order: 0;
}

h3 {
    font-family: "CCBiffBamBoom", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #701016;
    position: relative;
    font-size: 2rem;
    
    margin-right: 2rem;

}

html {
    background-color: #fff3c1;
    background-image: url("https://transparenttextures.com/patterns/crissxcross.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

img {
    width: 100%
}

main {
    flex-grow: 1;

}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

.contact {
    padding-top: 1.5rem;
    display: flex;
}

.doublefont {

    font-family: "CCBiffBamBoom", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff1c0;
    position: relative;
    font-size: 4rem;
    margin-left: 2rem;
}

.doublefont:after {
    content: "Kevin O'Connor";
    color: black;
    font-family: "CCBiffBamBoomOutline", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bio {
    flex: 1 1 70%;
    min-width: 30ch;
    max-width: 50ch;
    margin-left: 2rem;
    margin-right: 4rem;
}


.dblft-1 {
    font-family: "CCBiffBamBoom", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff1c0;
    position: relative;
    font-size: 1rem;
    margin-right: 2rem;
    text-decoration: none;
}

.dblft-2 {
    font-family: "CCBiffBamBoom", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff1c0;
    position: relative;
    font-size: 1rem;
    margin-right: 2rem;
    text-decoration: none;
}

.dblft-3 {
    font-family: "CCBiffBamBoom", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff1c0;
    position: relative;
    font-size: 1rem;
    margin-right: 2rem;
    text-decoration: none;
}

.dblft-1::after {
    content: "About";
    color: black;
    font-family: "CCBiffBamBoomOutline", sans-serif;
    position: absolute;
    left: 0;
}

.dblft-2::after {
    content: "Work";
    color: black;
    font-family: "CCBiffBamBoomOutline", sans-serif;
    position: absolute;
    left: 0;
}

.dblft-3::after {
    content: "Contact";
    color: black;
    font-family: "CCBiffBamBoomOutline", sans-serif;
    position: absolute;
    left: 0;
}

.email {
    max-width: 3%;
    max-height: 3%;
    padding: 1rem;
}
.ex1{
    max-width: 15%;
    max-height: 3%;
    padding: 5rem;
}
.ex2{
    max-width: 8%;
    max-height: 3%;
    padding: 5rem;
}
.ex3{
    max-width: 8%;
    max-height: 3%;
    padding: 5rem;
}
.ex4{
    max-width: 8%;
    max-height: 3%;
    padding: 5rem;
}
.ex5{
    max-width: 8%;
    max-height: 3%;
    padding: 5rem;
}

.end-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-aroundgit ;
}

.ftr {
    font-family: "CCBiffBamBoom", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff1c0;
}

.ftr::after {
    content: "By Kevin O'Connor";
    color: #701016;
    font-family: "CCBiffBamBoomOutline", sans-serif;
    position: absolute;
    left: 0;

}

.git {
    max-width: 3%;
    max-height: 3%;
    padding: 1rem;
}

.Hdrsec {
    display: flex;
    align-items: center;
}

.indiana {
    max-width: 30%;
    max-height: 30%;
    flex: 1 1 30%;
    margin-left: 4rem;
    margin-right: 2rem;
}

.jobs {
   display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 8%;
    padding: 8rem;
}

.klogo {
    width: 8rem;
    height: 8rem;
}

.phone {
    max-width: 3%;
    max-height: 3%;
    padding: 1rem;
}

.twitter {
    max-width: 3%;
    max-height: 3%;
    padding: 1rem;
}

.work {
    margin-top: 0.75rem;

}