/* wire frame: TODO: delete later */
header,
main,
footer {
    border: 5px solid black;
}

/* reset */
html {
    background-color: #fff1c0;

}

body {
    margin: 0;
    padding: 0;
}

/* element selectors  */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.name {
    font-family: "CCBiffBamBoomOutline", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;

}

h2 {
    color: white;
    background-color: ;
    align-items: center;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #701016;
    height: 25vh;
  }
  
  @media (min-width: 768px) {
    header {
      flex-direction: row;
      justify-content: space-between;
    }
  }

main {
    flex-grow: 1;

}

.mt- {
    margin-top: 0.75rem;
}

.pt {
    padding-top: 1.5rem;
}

.phone{
    width: 2%;
    height: 2%;
    color: #fff1c0;
}
/* classes */